*.json
bamtabridsazan-gsc-to-bq.json
gcp-key-base64.txt


# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Envs
.venv/
env/
venv/

# Data / cache / logs
*.zip
*.log

# System
.DS_Store

# Local Test Pythons Folder
/src/local_test/

# Local Raw Data Folder
/data/raw/othertypes/